[Desktop Entry]
Version=1.0
Type=Application
Name=Hash Bags
Comment=A noncustodial multi-currency wallet
Categories=Office;Finance;
Terminal=false
Icon=com.suchsoftware.HashWallet
Exec=hash_wallet
